<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Coding Vegabond</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>

</head>

<body data-spy="scroll" data-target="#navbarResponsive">

<!-- start home section -->
<div id="home">
    <!-- start home -->

    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">
            {#            <img scr="nothing for now">#}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#course">Course</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#features">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#testimonial">Testimonial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- End Navigation -->

    <!-- Start Landing Page Section -->
    <div class="landing">
        <div class="home-wrap">
            <div class="home-inner">
            </div>
        </div>
    </div>

    <div class="caption text-center">
        <h1>Welcome to Coding Vegabond</h1>
        <h3>Your source for self taught development</h3>
        <a class="btn btn-outline-light btn-lg" href="#">Get Started</a>
    </div>

    <!-- End Landing Page Section -->
</div>
<!-- End Home Section -->
<!-- start course section -->
<div id="course" class="offset">
    <div class="col-12 narrow text-center">
        <h1>Algorithms and Data Structure</h1>
        <p class="lead"> say something about algo & ds</p>
        <a class="btn btn-secondary btn-md" href="#" target="_blank"> go to course</a>
    </div>
</div>
<!-- End course Section -->


<!-- start features section -->
<div id="features" class="offset">
    <!-- start of jumbotron -->
    <div class="jumbotron">
        <div class="narrow text-center">
            <div class="col-12">
                <h3 class="heading">Features</h3>
                <div class="heading-underline"></div>
            </div>

            <div class="row text-center">
                <div class="col-md-4">
                    <div class="feature">
                        <i class="fas fa-play-circle fa-4x" data-fa-transform="shrink-3 up-5"></i>
                        <h3> First Part </h3>
                        <p>some text about this part</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="feature">
                        <i class="fas fa-sliders-h fa-4x" data-fa-transform="shrink-3 up-5"></i>
                        <h3> Second Part</h3>
                        <p>some text about this part</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="feature">
                        <i class="fab fa-wpforms fa-4x" data-fa-transform="shrink-4 up-4"></i>
                        <h3> Third Part </h3>
                        <p>some text about this part</p>
                    </div>
                </div>
            </div> <!--end of row-->
        </div>
    </div>
    <!-- end jumbotron -->
</div>
<!-- End features Section -->

<!-- start Resource section -->
<div id="resource" class="offset">
    <div class="fixed-background">
        <div class="row dark text-center">
            <div class="col-12">
                <h3 class="heading"> Learn with Care</h3>
                <div class="heading-underline"></div>
            </div>
            <div class="col-md-4">
                <h3>HTML 5</h3>
                <div class="feature">
                    <i class="fas fa-code fa-3x"></i>
                </div>
                <p class="lead">build stuff with HTML5</p>
            </div>
            <div class="col-md-4">
                <h3>Bootstrap 4</h3>
                <div class="feature">
                    <i class="fas fa-bold fa-3x"></i>
                </div>
                <p class="lead">build stuff with Bootstrap 4</p>
            </div>
            <div class="col-md-4">
                <h3>CSS 3</h3>
                <div class="feature">
                    <i class="fab fa-css3 fa-3x"></i>
                </div>
                <p class="lead">build stuff with CSS3</p>
            </div>
        </div> <!-- end row dark -->
        <div class="home-wrap">
            <div class="fixed">
            </div>
        </div>
    </div>
</div> <!-- end of fixed background-->
</div>
<!-- End Resource Section -->

<!-- start Testimonial section -->
<div id="testimonial" class="offset">
    <div class="jumbotron">
        <div class="col-12 text-center">
            <h3 class="heading"> Testimonials </h3>
            <div class="heading-underline"></div>
        </div>
        <div class="row">
            <div class="col-md-6 testimonials">
                <div class="row">
                    <div class="col-md-4">
                        {#                        <img src="" alt="">#}
                    </div>
                    <div class="col-md-8">
                        <blockquote>
                            <i class="fas fa-quote-left"></i>
                            some text
                            <hr class="testimonial-hr">
                            <cite>&#8212; eric, small business owner</cite>
                        </blockquote>
                    </div>

                </div>
            </div>
            <div class="col-md-6 testimonials">
                <div class="row">
                    <div class="col-md-4">
                        {#                        <img src="" alt="">#}
                    </div>
                    <div class="col-md-8">
                        <blockquote>
                            <i class="fas fa-quote-left"></i>
                            some text
                            <hr class="testimonial-hr">
                            <cite>&#8212; Rachael, photographer</cite>
                        </blockquote>
                    </div>

                </div>
            </div>

        </div> <!-- end Row -->
    </div> <!-- end jumbotron -->
    <div class="col-12 narrow text-center">
        <p class="lead"> Want to learn how to land a job at companies big or small?</p>
        <a class="btn btn-secondary btn-md" href="#" target="_blank"> Click me!</a>
    </div>
</div>
<!-- End Testimonial Section -->

<!-- start contact section -->
<div id="contact" class="offset">
    <footer>
        <div class="row justify-content-center">
            <div class="col-md-5 text-center">
                {#                <img src="" alt=""> coding vegabond logo#}
                <p>at our core, we are a passionate group who simply loves to enable people to achieve their dreams</p>
                <strong> Contact Info </strong>
                <p>(888) 888 8888 <br> codingvegabond@gmail.com</p>
                <a href="" target="_blank">
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-twitter-square"></i>
                    <i class="fab fa-youtube-square"></i>
                </a>
            </div>
            <hr class="socket">
            &copy; Coding Vegabond
        </div>
    </footer>
</div>
<!-- End contact Section -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
</body>
</html>